<h3> Your trades </h3>
<br>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>

<div *ngIf="Stocks.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th scope="col">Id</th>
			<th scope="col">Stock ticker</th>
			<th scope="col">Stock name</th>
            <th scope="col">Price</th>
            <th scope="col">Volume</th>
            <th scope="col">Buy or sell</th>
            <th scope="col">Status code </th>
			<th scope="col">Timestamp</th>	
			<th scope="col">Action</th>	
	 
		</tr>
		</thead>
		<tbody>
		  <tr *ngFor="let Stock of Stocks">
			<td>{{Stock.id}}</td>
			<td>{{Stock.stockTicker}}</td>
			<td>{{Stock.stockName}}</td>
            <td>{{Stock.price}}</td>
			<td>{{Stock.volume}}</td>
			<td>{{Stock.buyOrSell}}</td>
            <td>{{Stock.statusCodeCity}}</td>
            <td>{{Stock.date_Time}}</td>
			<td>
			  <a [routerLink]="['/stock-edit/', Stock.id]" class="btn btn-primary btn-sm float-right">Edit</a>&nbsp;
			    <a [routerLink]="" (click)="deleteStock(Stock.id)" class="btn btn-danger btn-sm float-right">Delete</a>
			</td>
		  </tr>
		</tbody>
	  </table>
	</div>
</div>